.ratings {
  li {
    max-width: 25rem;
    background: var(--clr-neutral-200);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-700);
    padding: 1rem 2rem;
    border-radius: var(--br);
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 55em) {
      display: flex;
      align-items: center;
      max-width: 28rem;
      &::before {
        margin: 0 1.5rem 0 0;
      }
      &:first-of-type {
        transform: translateX(-6rem);
      }
      &:nth-child(2) {
        transform: translateX(-3rem);
      }
    }
  }
  img {
    margin: 0 0.25rem;
  }
}

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  @media (min-width: 55em) {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}
