.ratings {
  li {
    max-width: 25rem;
    background: var(--clr-neutral-200);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-700);
    padding: 1rem;
    border-radius: var(--br);
    margin-left: auto;
    margin-right: auto;

    &::before {
      content: '';
      width: 90px;
      height: 1rem;
      display: block;
      margin: 0 auto;
      margin-bottom: 1rem;
      background-image: url(/images/icon-star.svg);
      background-repeat: space;
    }
  }
}
