body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  padding-top: 5.125rem;
  text-align: center;
}

h1 {
  font-size: var(--fs-900);
  color: var(--clr-primary-700);
  line-height: 2.7rem;
  margin-bottom: 1em;
  max-width: 12ch;
  font-weight: var(--fw-bold);
  @media (max-width: 50rem) {
    margin-left: auto;
    margin-right: auto;
  }
}

.subtitle {
  font-size: var(--fs-500);
  color: var(--clr-neutral-400);
}

// layout
main {
  display: grid;
  gap: 3rem 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 50rem) {
  main {
    grid-template-columns: 1fr 1.5fr;
    text-align: left;
  }
  .intro {
    grid-column: 1 / 2;
  }
  .ratings {
    grid-column: 2 / 3;
    align-self: center;
  }
  .quotes {
    grid-column: 1 / -1;
  }
}
